/StringExtensions/
/AsyncData/
/Timekeeping/
/Base64/
/Http/
/HttpNetworkTransport/
/Json/
/LibreSSL/
/MessageHeaders/
/SystemAbstractions/
/TlsDecorator/
/Twitch/
/TwitchNetworkTransport/
/Uri/
/Utf8/
/googletest/
/zlib/

/.vscode/

/build*/
/stage/
